/* strat reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
:root{
    --first-color: #FFE0B5;
    --second-color: #90EE90;
    --three-color:#DEEBB9;
    font-size: 16px;
}
/* end reset */

.container{
    background-color: var(--three-color);
    width: 460px;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 2px 1rem 18px 12px rgb(207, 230, 210);
    
}
.input{
width: 120px;
margin: 0 auto;
padding: 1rem;

}

.img{
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
form{
    width: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.login{
    color: white;
    background-color: black;
    text-transform: uppercase;
    border-radius: 3px;
}
.login:hover{
    background-color: var(--first-color);
    color: #000004;
    font-weight: bold;
    
}